<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper 주의! -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 형태로 구현된 mapper 경로 -> 패키지 포함-->
<!-- -->
<mapper namespace="org.example.mealisallyouneed.model.mapper.AnimeMapper">
    <!-- id는 연결할 메서드 이름-->
    <select id="selectOnePlusOne" resultType="int">
        SELECT 1 + 1
    </select>
</mapper>